<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veille IA Médecine</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <img src="/static/image/logo3.png" alt="Veille IA Médecine Logo">
    </header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/informations">Informations</a>
        <a href="/scrape">Scraper</a>
        <a href="/analyze">Analyser</a>
        <a href="/visualize">Visualiser</a>
        <a href="/audit">Auditer</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Veille IA Médecine</p>
    </footer>
</body>
</html>


